[2020-07-12 21:27] mifi opened #1 "Provide a ref"
Although the goal of this is to be declarative, it would still be nice to provide a ref to the lottie object for fine control.

Maybe similar to https://github.com/react-native-community/lottie-react-native

**PR welcome**

[2020-07-15 10:54] bit-captain opened #2 "How to set rendererSetting?"
In react-lottie we could set it this way
`const defaultOptions = {
    loop: true,
    autoplay: true,
    animationData: lottieChar,
    rendererSettings: {
      preserveAspectRatio: "xMidYMid meet",
    },
  };`
but I don't know how to set it in your lib. I'm a newbie so could be nice if you could provide some example:) .

[2020-07-15 12:53] #2 closed

[2020-07-16 14:50] mifi commented on #2
There is a prop

[2020-08-08 09:24] Ey-Jay opened #3 "Finish animation when play is changed from true to false."
Currently, when play is changed from true to false, the animation just pauses.

Is there a way for it to just finish and then stop?

[2020-08-08 09:47] Ey-Jay commented on #3
I found a way that involves segments, loop, and play.
Closing the issue.

[2020-08-08 09:47] #3 closed

[2020-09-23 11:24] jamiehaywood opened #5 "Include types in package"
Really like the package, would be great to include the types for TypeScript support. If I find the time I will try and raise a PR to do this.

[2020-09-23 11:39] mifi commented on #5
Sure, PR welcome!

[2020-10-14 12:02] amirch1 opened #6 "Loop property doesn't allow defining the number of loops to play"
The loop property allows only true / false while according to the Lottie documentation it also allows defining the number of loops to play.

[2020-10-14 17:29] mifi commented on #6
Thanks. Fixed in newest version

[2020-10-14 17:29] #6 closed

[2020-10-15 00:53] gajus opened #7 "How to use goToAndStop and other methods?"

[2020-10-19 10:12] mifi commented on #7
I'm not sure what you want to achieve? react-lottie-player has a declarative API

[2020-10-20 08:26] amardeepsingh20 commented on #1
Any suggestion how this can be done?

[2020-10-20 10:37] mifi commented on #1
I think like this: https://reactjs.org/docs/forwarding-refs.html#forwarding-refs-to-dom-components

[2020-10-30 22:55] richt3211 opened #8 "Typescript support"
Just tried to add @types/react-lottie-player and it looks like the package doesn't exist. Would be nice to have some type declarations to have full TS support. Is there any plan to add this in the future?

[2020-10-30 22:56] richt3211 commented on #8
Whoops looks like there is already an issue for this. Closing.

[2020-10-30 22:56] #8 closed

[2020-10-30 22:57] richt3211 commented on #5
Wanted to +1 this. @jamiehaywood any update?

[2020-11-22 13:25] rodbs opened #10 "Not rendering in nextjs"
Hi, and thanks for your plugin!!

I've created an animation that works in LottieFiles
https://lottiefiles.com/share/dzuigkaa#_=_

But I cannot get it to work in nextjs. It renders a white svg object.

Any ideas? Not sure if it's due to the way the json files are imported in nextjs ...

[2020-11-22 18:33] mifi commented on #10
Do other animations work?

I'm using `react-lottie-player` in gatsby and it works for me (also SSR)

[2020-11-22 22:41] rodbs commented on #10
I've got it to work.
It was because I'm using audio in my animation.

But now I'm getting another error.

According to this issue Lottie supports audio
https://github.com/airbnb/lottie-web/issues/231
https://github.com/airbnb/lottie-web/wiki/Audio

So in my case I've done:
[code]

And it works (the animation playing the audio) but it raises this error (I guess because audioFactory prop is not impl

[2020-11-25 22:20] rheng001 commented on #1
@mifi Any example of how this can be done to get the ref to the lottie object?

[2020-11-26 02:33] EliotSlevin opened #11 "Lazy loading animation data would be very handy"
This might be far beyond the scope of this library - but being able to load animation data when it enters the viewport would be great.

Including animation data via `import` is good, but if you've got quite a few complex animations on a page, this can increase your bundle size real fast. Particularly if inline bitmaps are part of an animation. I'm working on a project where our average lottie json

[2020-11-26 11:57] mifi commented on #10
Ah, can you see if this is solved by adding audioFactory to propTypes:

https://github.com/mifi/react-lottie-player/blob/82976eb18017e3090befc4e6cefa26f24dec3a1a/src/index.js#L142

[2020-11-26 12:10] mifi commented on #11
Hi. I think you can solve the bundle size with code splitting:

[code]

See https://reactjs.org/docs/code-splitting.html

Then you can mount this component only when it enters the view. Can be achieved with something like this:
https://github.com/olistic/react-use-visibility

[2020-11-26 14:08] mifi commented on #1
@rheng001 u can achieve this the React Way by setting state controlling the prop "playing"

[2020-11-26 20:05] rodbs commented on #10
Yes, it works adding audioFactory to propTypes and to the function

BTW, I'm also getting this error:
[code]
I guess while the component is rerendering  animationData is undefined and it raises this error. I can control it by checking if variable is populated, but it might be interesting to do it inside the module

[2020-11-26 20:35] mifi commented on #10
cool. if you want you can make a PR with the new PropType.
how does your code look like? I don't see how animationData can be undefined if it comes from an import like in your code above.

[2020-11-27 09:51] rodbs commented on #10
I've just added the PR
https://github.com/mifi/react-lottie-player/pull/12

Regarding the undefined animationData, I think it was due to the fact I was creating a state variable to load the data into animationData ... I've refactored it; and it looks ok now.

[2020-11-29 03:06] ivanjeremic commented on #1
@mifi Would this also solve to click on a specific element in the svg? I have here a CodeSandBox demo of a different library I try and none of the libs for lottie-react I tired has an easy way that works for clicking an specific item inside the svg, has your lib the solution to this? [https://codesandbox.io/s/lottie-react-hook-click-problem-qv4lt?file=/src/App.js](https://codesandbox.io/s/lottie-r

[2020-12-08 16:31] mifi commented on #1
@ivanjeremic I don't think you can do that easily. Better use lottie-web directly then

[2020-12-11 08:06] aleksmizin commented on #5
+1

[2020-12-21 10:28] Tobbe opened #14 "Please add React 17 as a peer dependency"
Can you please add React 17 as an option for your peer dependencies?
Something like this maybe

[code]

or

[code]

https://semver.npmjs.com/

[2020-12-28 20:33] mifi commented on #14
thanks. i added support for 17 now

[2020-12-28 20:33] #14 closed

[2020-12-29 00:11] ivanjeremic opened #15 "No way to play back smoothly after using segments"
When I go from `segment` 15 to 94 for example onClick it stops there and this is fine, but how to go from that position again back and play it smoothly back?

I tried

- reverse segment 94 to 15
- reverse segment with direction 94 to 15 with -1 direction
- only direction -1 with play

and none of them work properly.

If there is no way currently to do this we really need a function `playTo` where

[2021-01-14 07:34] simonpkerr commented on #1
it would still be good to have a reference to the container, so that consumers can hook into events easily. 1 example I'm thinking of is the data_failed event. We've been asked to provide a static fall back if the lottie animation fails to load.
could you use forwardRef on your component to accept a ref and then just use that instead of creating it directly [here](https://github.com/mifi/react-lot

[2021-01-22 19:24] wadehammes commented on #3
@Ey-Jay mind sharing?

[2021-01-24 16:28] mifi commented on #1
Sure, I'll try it when I have some time, PR welcome ofc

[2021-01-24 16:29] #11 closed

[2021-01-24 16:30] mifi commented on #10
Can this be closed now?

[2021-01-24 16:33] mifi commented on #15
Hi

I'm not sure I understand, can you provide som eexample code or a video where you reproduce the problem in the [demo](https://mifi.github.io/react-lottie-player/)?

[2021-01-24 17:11] rodbs commented on #10
Sure!
Thanks.

[2021-01-24 17:11] #10 closed

[2021-01-26 15:13] artola opened #16 "Support for path"
Lottie-web supports `path` and `animationData`. The first one it is handy to load json as static files (without coding the fetch) and avoid an import or dynamic import (and/or related code splitting), that will lead to bundle animations together to JS, probably not intended for fast load.

https://github.com/airbnb/lottie-web/wiki/loadAnimation-options#path-or-animationdatamandatory-at-least-one

[2021-01-26 15:40] mifi commented on #16
I think in general it's good to let the framework (react/webpack/CRA) handle the lazy loading/bundling of chunks as it gives several benefits. I'm not sure if `path` has any benefits over not needing to do an import('/path/to/json').
One benefit I see is that it would allow loading external JSON files from another server, but I don't know if that's very common.

[2021-01-26 15:48] artola commented on #16
Right, path will allow to use external servers, or just consume the animations as statics (maybe copied by CopyWebpackPlugin) in place of bundling.

[2021-02-04 22:36] jchoura-godaddy opened #18 "Allow DOM.ready as a callback"
If would be really awesome if you could access this state through a callback from the parent component.

https://github.com/mifi/react-lottie-player/blob/af42ad34da384483cce539af978f9fb89cfa6e41/src/index.js#L29

[2021-02-09 17:17] Naxes commented on #16
Just chiming in to say this would be useful as we use Contentful with a Gatsby site, which is where the JSON is. We have a setup of content types to construct pages from the CMS, defining what component they should render as. Some of these include animations, hence why they're not simply in the project to be imported. Currently using a fork of `react-lottie` but like the look of this a lot more.

[2021-02-10 20:51] #16 closed

[2021-02-10 20:56] artola commented on #16
@mifi 🥇

[2021-02-15 18:12] mikejdegroot commented on #5
+1

[2021-02-15 18:21] mikejdegroot opened #19 "Play backwards not working without loop"
Hi,

First of all thanks for creating this package. Much less buggy than the original! I have come across an issue however-

Play in reverse with the direction=-1 and loop=false does not work. Playing in reverse only seems to work if loop=true. I've taken a look at the live example usage and the same issue happens. I would really like to implement a backwards play without having to do some loop=tr

[2021-02-19 04:36] k4y4k opened #20 "Not rendering in Gatsby"
# Howdy 👋

To start off with, my issue is (from the looks of it?) pretty similar to #10.

I generated [this lottie animation](https://lottiefiles.com/share/6drxkvmd) with After Effects + Lottiefiles. The animation is just images[1], rigged with Duik, baked with EasyBake, and then rendered.

It plays fine on lottiefiles.com, [in the After Effects preview pane](https://user-images.githubusercontent.

[2021-02-19 04:55] k4y4k commented on #20
# Nevermind!

I found [chenqingspring/react-lottie#115](https://github.com/chenqingspring/react-lottie/issues/115), which says:

[code]

[2021-02-19 04:55] #20 closed

[2021-02-23 06:39] simonpkerr opened #21 "replace lodash"
would it be possible to replace the lodash isequal with something a little more robust/secure?
there are a number of options including [fast deep equal](https://github.com/epoberezkin/fast-deep-equal)

here's the details of the security issue - https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-23337
we're blocked from using the player right now because of this. i'm happy to open

[2021-02-23 10:31] mifi commented on #21
Sure, pr is welcome!

[2021-02-25 12:25] skoruba opened #22 "typescript support"
Hey @mifi

do you plan to add the typescript types for this library?

Thanks!

[2021-02-25 12:27] skoruba commented on #5
+1

[2021-02-25 12:28] skoruba commented on #22
#5

[2021-02-25 12:28] #22 closed

[2021-03-02 08:28] mifi commented on #19
thanks for reporting.
I found the cause of the issue:
https://github.com/airbnb/lottie-web/issues/118#issuecomment-239319708

[2021-03-02 08:29] #19 closed

[2021-03-02 08:34] #21 closed

[2021-03-02 08:44] #18 closed

[2021-03-04 10:49] skoruba commented on #5
I've use this one and it works:

The properties `rendererSettings` and `audioFactory` should be defined probable better, I am not sure how, mabye someone help with the improvements. 😊

[code]

[2021-03-17 00:32] EliotSlevin commented on #11
Just if anybody ends up finding this in the future, I solved this problem just as you suggested, with a component like this.

[code]

When the component first mounts, it renders the SVG placeholder I've passed through - all in nice small bundle. At this point the user can start interacting with the page, then it starts loading the animation data, then renders it once it's all available.

I've foun

[2021-03-23 14:54] vexxvakan opened #25 "Background Animation using Lottie possible?"
Is there a way to use this lib as a background animation? how would I have to structure the File so that it displays buttons or my text on top of the lottie?

[2021-03-23 17:28] mifi commented on #25
im not sure if i understand but css should probably do this?

[2021-03-25 12:40] vexxvakan commented on #25
Oh, I didn't get a notification of your answer. sorry for that. worked it out eventually, thank you for the response tho!

[2021-03-25 12:40] #25 closed

[2021-03-29 18:24] willmcl commented on #15
I got myself in a fix with this too. Reversing segments (ie. updating the segment to [94, 15] ) and keeping the direction as 1 was the answer for me. I am not sure why it wouldn't work for you. Send some code?

[2021-03-30 14:15] johnjv opened #26 "Unable to resume animation from paused position, animation instead restarts from beginning"
Is there a way to have the lottie animation resume from the paused position when toggling play from false to true?

For example in the [demo](https://mifi.github.io/react-lottie-player/) try toggling the 'Playing' checkbox and notice that animation will always restart from the beginning. Is there currently a way to make playback happen from the paused position?

[2021-03-31 13:37] #26 closed

[2021-04-14 19:51] materia-ux commented on #1
Hey, love the player. I would really appreciate some way to reach Lotties currentframe, and I suppose having a ref to the Lottie object would solve that. I have experimented with ways to use forwardRef, but sadly I am too novice with React to make much sense of it. If anyone has had more luck reaching the Lottie object (or another way to retrieve the currentframe prop), I would love to know about

[2021-04-29 09:45] GregdTd commented on #5
Any update here ?

[2021-04-29 11:15] skoruba commented on #5
I added a PR, but I do not know how microbundle works, can you check my PR? Thx

[2021-04-29 16:44] jamiehaywood commented on #5
Apologies, I moved job a couple of weeks after raising this issue, and forgot to reply 🤦🏻‍♂️.
A couple of things regarding the PRs:

1. I've taken a look into microbundle-crl and it doesn't look like it's got anything for emitting / including types in the build, so what you'll probably have to do is add another step to the build process along the lines of `cp index.d.ts /dist`
2. I would recommend

[2021-05-07 15:25] catkeck opened #28 "Play on click"
Hi! Is there a way to make it so the animation plays all the way through (once) when clicked on? (as well as on in initial load)

[2021-05-07 16:05] catkeck commented on #28
Wouldn't that result in the animation repeating though? and just resetting?

[2021-05-07 16:16] materia-ux commented on #28
Maybe I misunderstood your question. Binding a click to goto=1 will restart the animation and play it through once. Is your problem that you have loop turned on?

[2021-05-11 16:02] victorlaforga opened #30 "Lottie animation is lagging for 1 a 2 seconds"
Hello,

I have a problem with the lottie animation on : https://pensive-gates-96535d.netlify.app/

If you watch closely the animtion is lagging after 8 seconds for a bit.
On the other side, the lottie preview is not lagging, does someone know how to fix this?
https://lottiefiles.com/share/i5eriina

Thanks!

[2021-05-17 15:03] mifi commented on #30
do yo uhave the same problem if you use https://github.com/airbnb/lottie-web ?

[2021-05-17 15:50] victorlaforga commented on #30
How can I use the plugin in react?

<img width="728" alt="Schermafbeelding 2021-05-17 om 17 50 14" src="https://user-images.githubusercontent.com/37700441/118518366-5827ff80-b738-11eb-9929-ce244dbf86a3.png">

[2021-05-17 16:27] mifi commented on #30
I think you would need to manually server the json then, and manually play the lottie

[2021-06-23 19:42] ccnokes opened #35 "Leaking/performance issues when adding/removing from tree"
If the player is added/removed from the tree, something internally is leaking and it can cause the animation to jank and then the page to crash.

See this sandbox: https://codesandbox.io/s/elated-tdd-pvhkf?file=/src/App.tsx

Click the toggle button once. Everything works and the animation shows. Click it twice and it might be a bit slower. 3-4+ times (at least on my computer) it slows to a crawl a

[2021-06-24 05:29] mifi commented on #30
I believe this could be related to #35

can you try with `lodash.clonedeep` e.g. `animationData={cloneDeep(animationData)}`

[2021-06-24 05:32] mifi commented on #35
Thanks for nice report! I also managed to reproduce the issue with your codesandbox.

Seems this is an issue with upstream lottie-web. I found these: #1159 #2151

The solution is to use something like `lodash.clonedeep` on the `animationData`. e.g. `animationData={cloneDeep(animationData)}`

I will update react-lottie-player with this cloning code, because this is such a sneaky bug and it shouldn'

[2021-06-24 05:57] #35 closed

[2021-06-24 05:57] mifi commented on #35
this will be fixed in the next version

[2021-06-24 06:08] mifi commented on #30
alternatively upgrade to 1.3.2 (no need for clone)

[2021-06-24 06:09] mifi commented on #5
this is now fixed in 1.3.2. please test and reopen if any issues with the types

[2021-06-24 06:09] #5 closed

[2021-06-24 06:56] victorlaforga commented on #35
I upgraded to 1.3.2 but with no result...
Could you help me with this?

https://pensive-gates-96535d.netlify.app/

<img width="1079" alt="Schermafbeelding 2021-06-24 om 08 55 21" src="https://user-images.githubusercontent.com/37700441/123216585-00647d00-d4ca-11eb-86b7-19d61cfd4f10.png">

[2021-06-24 07:10] mifi commented on #35
I believe your issue is #30, please continue discussion there

[2021-06-24 07:15] mifi commented on #30
Since you said it doesn't work after upgrading, then this issue is different from #35. I cannot even make the animation you linked show at all. any chance you could make a codesandbox with the issue?

[2021-06-24 15:48] victorlaforga commented on #30
Hi Mifi,

Yes, see this link: https://codesandbox.io/s/spring-architecture-bum5m?file=/src/App.js:94-158

[2021-06-24 19:49] ccnokes commented on #35
🎉🎉🎉

[2021-06-28 11:37] victorlaforga commented on #30
Hi @mifi

 Did you got any updates?

[2021-06-29 09:44] mifi commented on #30
your sandbox is using @lottiefiles/react-lottie-player, which is different from this module (`react-lottie-player`)

[2021-06-30 14:18] victorlaforga commented on #30
Hi @mifi ,

`import * as React from "react"
import "../../styles/styles.scss"
// import { Player } from '@lottiefiles/react-lottie-player';
import Lottie from 'react-lottie-player'
import { AccessContext } from '../../contexts/access'
import lottieJson from '../../assets/Laforga-mainsection.json';
const MainSection = () => {
  const [isFirstAccess] = React.useContext(AccessContext);

  return (

[2021-07-03 07:32] mifi commented on #30
If you can make a sandbox that reproduces the problem ,then I can look into it

[2021-07-03 16:15] victorlaforga commented on #30
This is the sandbox link: https://codesandbox.io/s/spring-architecture-bum5m?file=/src/App.js:94-158

It doesnt even show the animation

[2021-07-03 20:52] Skarian commented on #11
@EliotSlevin Ever encountered this error? Whenever I use your code nothing loads. JSON files work just fine without lazy-loading and I have tried multiple JSONs from LottieFiles

[code]

[Lottie File](https://lottiefiles.com/63320-woman-with-laptop-getting-notifications#)

Keep getting SVG errors in console:
![image](https://user-images.githubusercontent.com/1028007/124366591-7d080180-dc16-11eb-93

[2021-07-05 09:44] zerone2 commented on #30
@victorlaforga I think your lottie json file is wrong.
when I tested https://codesandbox.io/s/spring-architecture-bum5m?file=/src/App.js:94-158
with my json file it performed well.

[2021-07-05 14:56] victorlaforga commented on #30
Could you send me a sandbox link where it works with your json file?

https://lottiefiles.com/share/i5eriina

This is the official lottie source.

[2021-07-05 14:56] victorlaforga commented on #30
@zerone2
Could you send me a sandbox link where it works with your json file?

https://lottiefiles.com/share/i5eriina

This is the official lottie source.

[2021-07-06 06:44] zerone2 commented on #30
@victorlaforga
I don't know exact reason but, maybe it should be caused by your lottie source version.
You can try with this lottie.
just download it and change path.

https://lottiefiles.com/share/u2frshmo

[2021-07-13 18:33] nathanielwood commented on #11
I just want to add that it seems the issue @Skarian mentioned above is introduced with v1.3.2. I tried switching back to v1.3.1 and the error was gone. Thanks for the including the code to resolve it!

[2021-07-14 07:33] mifi opened #37 "in v1.3.2, need to use import.default"
Seems like the cloneDeep addition exposed an issue when using `import()`, where the imported object has a `default` property with the animationData.

https://github.com/mifi/react-lottie-player/issues/11#issuecomment-879310039

seems like the vue-lottie project has the same issue https://github.com/chenqingspring/vue-lottie/issues/20

[2021-07-14 07:34] mifi commented on #11
Thanks for reporting @nathanielwood

I can confirm this is an issue with the cloneDeep addition in 1.3.2, I opened #37
This will be fixed in 1.3.3, so no longer need to use `.default` on imported json after that

[2021-07-14 07:41] mifi commented on #37
This should be fixed in 1.3.3, so no longer need to use `.default` on imported json after that

[2021-07-14 07:41] #37 closed

[2021-07-14 14:47] simonpkerr commented on #11
maybe use something like merge-anything? that seems pretty stable and doesn't introduce as many security risks as lodash

[2021-07-14 15:16] mifi commented on #11
this one? https://github.com/mesqueeb/merge-anything
I believe it is not the same as cloneDeep, or is it? I think lodash.cloneDeep is quite safe as it is just a single function, and it has a lot more downloads/users:

- https://www.npmjs.com/package/lodash.clonedeep
- https://www.npmjs.com/package/merge-anything

[2021-07-15 09:25] simonpkerr commented on #11
there are high security warnings for anything lodash due to the way it works (https://snyk.io/vuln/SNYK-JS-LODASH-450202). its going to make it harder for consumers if you use lodash, since they will constantly have to do updates. we've found this on virtually every project that uses lodash. if you check out the pr I raised (#40), everything still works fine.

[2021-09-02 18:39] kdembler opened #45 "No type declarations for `LottiePlayerLight`"
Hey, thanks for this library!

It's great that we got the light version of the player released to improve the bundle size. However, it seems it's missing from the package type declarations and usage with Typescript is troublesome.

Sandbox: https://codesandbox.io/s/zen-stonebraker-2408d?file=/src/App.tsx

[2021-09-04 11:18] mifi commented on #45
Hi! I'm not a master of TS, but if someone wants to fix it, PR is welcome. (preferably with reuse of types as much as possible)

[2021-09-06 11:31] PavelZhuravlev opened #46 "export LottieProps"
Hi, Thank you for the great component!

I have a question,
Is there any way I can import `LottieProps` type to my project?

[2021-09-21 13:51] Manthan-p opened #47 "How to animate specific part"
Hello,

I want to **animate the specific part** of the Logo, I have used the react-lottie-player package and put all the necessary props.

Here below, is the code that I have integrated. I want to animate only the last character of my logo.

[code]
in **animationData.default** I have passed the JSON of the logo.

Can you please help me to get the expected output?

[2021-09-23 06:09] mifi commented on #46
Hi! I'm not a master of TS, but if someone wants to fix it, PR is welcome.

[2021-09-23 06:11] mifi commented on #47
See the live example:
https://mifi.github.io/react-lottie-player/

Segments works there. Maybe you can start from that code and replace with your own animation?

[2021-09-28 11:41] edoTGTG opened #49 "It completely breaks App in IE11 (using Light)"
It'll throw a "SCRIPT1004: Expected ';' ". Very likely to be because of a FOR...IN loop https://stackoverflow.com/questions/55025430/script1004-expected-occuring-in-for-loop-ie-browser

Also, the Light package includes React 16... Why is that?

Thanks!

[2021-09-28 13:39] mifi commented on #49
Im not sure where in the code there is a for-in. Can you please elaborate?
Also where do you see that react 16 is included? If you see package.json  react16||17 is a peer dependency so it is not included.
IE11 is not really high priority to support but if it’s an simple fix im open for a PR.

[2021-09-30 15:20] mifi commented on #49
Are you using create-react-app? If so, see here for how to add support for ie11: https://stackoverflow.com/questions/55967048/how-do-i-support-ie-11-with-create-react-app-3-0

As for why react is included in the dist, I'm looking into that.

[2021-10-01 07:46] edoTGTG commented on #49
Unfortunately not, we have an "old" app from 2 years ago, built the regular way. Lottie unfortunately is the only breaking our solution on IE11. Not even the latest react 17.0.7 does :/

[2021-10-01 07:47] mifi commented on #49
Oh I see. But does normal lottie-web without react-lottie-player work in IE11?

[2021-10-01 08:03] edoTGTG commented on #49
Good question. I saw that they are supposedly supporting it, but opening lottiefiles.com on IE11 shows no animations and some errors.

[2021-10-03 11:11] mifi commented on #49
If you can make lottie-web work on IE11, but  reqct-lottie-player fails, then we can look into what’s causing it.

[2021-10-06 02:47] milesrichardson commented on #46
until this is fixed you can hack around it with type inference like this:

[code]

[2021-10-16 11:58] mpeyper commented on #45
Hi,

I just ran into this over on https://github.com/OpenSourceRaidGuild/youarerad/pull/6 and I can add the missing type definition for you.

I also think it would be really handy to offer a dedicated module for it too, so it can be imported like:

[code]

I'll put a PR together for it now.

[2021-10-21 09:42] #45 closed

[2021-10-21 15:35] PavelZhuravlev commented on #1
+1 really need this feature!

[2021-11-07 13:36] rosscturner opened #53 "Unable to play backwards with Next.js"
Thanks for a great package. Have been using it a few months and it's been working great. https://lightmillmedia.com. The menu icon on the site is a Lottie animation. Plays forwards onClick and reversed on the second click. The live site is on an older version of the package.

Initially I used CRA to bootstrap the project and all is working fine. Now I'm migrating to Next.js and while my animations

[2021-11-07 15:53] mifi commented on #53
Hi. Could you make a reproduceable minimal example in something like codesandbox?

[2021-11-08 19:27] rosscturner commented on #53
Hi @mifi thanks, I will get something up ASAP.

I'm really baffled now. My existing website which hasn't had any code changes for several weeks has now stopped playing the Lottie animations backwards as well. That's on v1.0.1. Any idea what is going on here?

[2021-11-08 20:58] rosscturner commented on #53
@mifi here's a previously working example that no longer works plays in reverse.

https://codesandbox.io/s/relaxed-johnson-tz4qx?file=/src/App.js

[2021-11-09 13:39] mifi commented on #53
I changed the code to this, and now it works:

[code]

and added this:
[code]

the issues were:
- you were flipping setSegmentFrom/setSegmentTo every time you toggle
- play never got set to false so setting to true did not trigger any react effect as it was always true

[2021-11-30 05:21] Muhammad-Ashik opened #54 "Animation blinking when programmatically changing the JSON"
I have a text input. Whatever I type in this input I update the JSON. So whenever I update the JSON the animation is blinking. Is there anyway it will not blink on every typing. Animation will remain as it is only the change I want will effect on the animation?

[2021-11-30 05:44] mifi commented on #54
hi. canyou please provide an example code to reproduce the problem, like codesandbox or similar, then maybe someone can help you out

[2021-12-01 05:07] Muhammad-Ashik commented on #54
Here is the Codesandbox link:
https://codesandbox.io/s/flowcode-animation-7md3t?file=/src/videoPlayer/VideoPlayer.tsx

If you type on text input you will see text update but the animation blinking on every input change. I want to update text on every keystroke and on the animation it will effect on the text only not the whole animation

[2021-12-01 06:26] mifi commented on #54
Your code doesn't use react-lottie-player, are you in the wrong project?

[2021-12-01 06:32] Muhammad-Ashik commented on #54
I am using react-lottie-player with remotion. could you please check again?

[2021-12-01 08:01] mifi commented on #54
oops yes i can see it now. can you try to reproduce the problem without remotion? I believe that it could be caused by remotion remounting the component or something like this

[2021-12-01 08:20] Muhammad-Ashik commented on #54
I will try without remotion. Let's if it is a problem with remotion or not. I have another request to you. Your package is really great. I can update the json in it shows real time without the blinking problem. My request is can you integrate your package with remotion? It will be so helpful for me and all the developer who wants to work with remotion and lottie.

[2021-12-01 08:33] Muhammad-Ashik commented on #54
I have tried without remotion but still it's same

[2021-12-01 08:36] mifi commented on #54
ok i just tested and i think it doesn't have to do with remotion, but it's because the `animationData` prop changes, which causes `destroy()` and then `loadAnimation()` tobe called. this probably causes a visual flash in between when there is no lottie tied to the dom element. I'm not sure how best to solve this.
- may use a temporary div and loadAnimation on it before destoyring the old one (kind

[2021-12-01 08:42] mifi commented on #54
thanks. i'm not sure if I will make an integration with remotion because i don't use it, but if someone wants to do it, I'm happy to look into how to make it work nicely with remotion.

actually i have a similar project to remotion that I have been working on. Because of not being able to use remotion due to its licensing for a project of mine, I created something myself: https://github.com/mifi/r

[2021-12-01 08:55] Muhammad-Ashik commented on #54
Oh wow I saw editly when I was searching for a library like remotion. But on that time your package may not had the docs to how to use it. So I took remotion. I hope your library get good impression. I will give a try. But requesting you please resolve the blinking issue. Thank you.

[2021-12-14 06:49] mifi commented on #54
Hi. I don't have any timeline unfortunately. Feel free to use lottie-web directly instead if that lets you solve the issue more easily. If you find a solution, I would appreciate details on how you solved it.

[2021-12-15 05:27] Muhammad-Ashik commented on #54
@mifi Okay I will try solve it and will share here. Thank you.

[2021-12-21 04:27] jordanlambrecht opened #55 "How do I make elements responsive?"
I'd like to use my json as a background element with object-fit:cover. I'm a little stuck. Currently running tailwind, nextjs, and react(duh)

[2021-12-21 06:09] mifi commented on #55
Im not sure what you mean by json as a background element. I think you should be able to set style={{width:’100%’}} and it will be responsive

[2021-12-21 14:41] jordanlambrecht commented on #55
Doesn't work for me =[ It's still locking to the width of the json file. Forgot to mention I'm using typescript, but the linter throws this:
`Type '{ width: any; 100: number; }' is not assignable to type 'Properties<string | number, string & {}>'.

  Object literal may only specify known properties, and '100' does not exist in type 'Properties<string | number, string & {}>'.ts(2322)
index.d.ts(184

[2021-12-22 06:46] mifi commented on #55
Maybe something like this could help you:

- https://github.com/airbnb/lottie-web/issues/1046
- https://github.com/airbnb/lottie-web/wiki/Renderer-Settings#preserveaspectratio
- https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio

Btw if you could make a codesandbox that reproduces the problem it would be very helpful!

[2021-12-24 02:55] jordanlambrecht commented on #55
Yes! That worked. Simply needed to figure out how to get the render settings to work. Humbly suggesting you add something like this to your demos.

Here's my new code in case anyone else has this issue:

[code]

[2021-12-24 02:55] #55 closed

[2021-12-27 06:13] mifi commented on #55
thanks. I'll add it to readme first. then maybe later to the examples. I don't consider it a feature of react-lottie-player, but rather lottie-web, as it's just an option passed on to that library.

[2022-01-03 17:03] husamrahman opened #56 "Is there a way to play a number of animations one after the other?"
Great work on this library! I was wondering if there was already a built in option to go through a list of animations one after the other? Thank you!

[2022-01-05 08:58] mifi commented on #56
Hi! Nothing built in for that. I don't think it belongs as a part of this library as I like to keep it simple.

I would think something like `<Lottie animationData={animations[index]} onComplete={() => {setIndex(i => i+1)}} />`

[2022-01-08 13:51] husamrahman commented on #56
Got it thank you! I didn't know we had access to OnComplete.

[2022-01-10 19:11] jordanlambrecht opened #57 "Type 'number[][]' is not assignable to type 'AnimationSegment | AnimationSegment[]'."
I'm using react, nextjs, and typescript. My lottie component plays the first 23 frames once, followed by the rest of the frames on a loop. I send an array to the prop 'segments'. Everything renders totally fine, but linting returns this error:
[code]
Here's my code:

[code]

Like I said, it's not breaking anything. It is, however, driving me crazy when I go to lint everything prior to production.

[2022-01-10 19:11] jordanlambrecht commented on #57
here's the full warning:

[code]

[2022-01-11 05:16] mifi commented on #57
Im not so experienced with TS (it was contributed by someone else) but if you figure it out, please submit a PR

[2022-01-18 09:22] mifi opened #60 "Animation control support"
See implementation attempt and discussion in #41

[2022-01-23 09:21] timurguseynov commented on #16
It works 🥇

[2022-03-03 20:33] chr-ge commented on #57
@jordanlambrecht Doing this should remove the error:
[code]

[2022-04-01 11:26] kb-ig opened #67 "Export LottieProps"
How would you feel about exporting the `LottieProps` type?

I think it would be handy in scenarios where we may want to offload some logic that determine what props to pass in to the player so that it's outside of the main component that renders the player. As an over-simplified example:

[code]

[2022-04-01 11:47] kb-ig commented on #67
Yeah, that's one option. Although sometimes its desirable to have a pure stateless component.

There's definitely a few options to get around the example I gave, but I feel it would be beneficial to allow consumers of this library to access the `LottieProps` type. I dont really see any reason to keep it private.

Another use case would be extending the type. Perhaps my component is a simple wrappe

[2022-04-03 08:46] mifi commented on #67
Oops sorry, I think I misread. You're only talking about a typescript change here, right? TBH I'm not so proficient in TS, but if it's just a change to index.d.ts that doesn't break anything, then I'm open for a PR!

[2022-04-03 08:48] mifi commented on #67
i think your issue might be a duplicate of #46 ?

[2022-04-04 08:07] kb-ig commented on #67
Yeah, just a little TS change - should be fairly unobtrusive.

My ticket is indeed a dup, sorry about that. I'll close this one off and I'll have a look at opening a PR for that change this week.

[2022-04-04 08:07] #67 closed

[2022-04-04 10:58] #46 closed

[2022-04-07 13:34] arnemolland opened #69 "React 18 support"
From my knowledge there shouldn't be any changes in react 18 that impacts this library, would love to see support for it.

[2022-04-08 11:59] mifi commented on #69
Yes, I think we just need to update peerDependencies, right?

[2022-04-09 04:24] altruong opened #70 "Lottie-web breaking change in 5.9.2"
Lottie-web just updated their ts typing for loadAnimation parameter in their latest version v5.9.2
https://github.com/airbnb/lottie-web/commit/eb6d9a601e8ab724a1bcc285c5efe96243f52dc6

Which breaks the current version of react-lottie-player
<img width="625" alt="image" src="https://user-images.githubusercontent.com/55976444/162556073-cdb11dfe-fdfd-4f6b-8da9-e45f8c924595.png">

I've set my resoluti

[2022-04-09 09:15] mifi commented on #70
Should this instead be fixed at lottie-web, and not here? Pardon my ignorance but I’m not an expert in ts

[2022-04-10 05:54] altruong commented on #70
In the error that I have above, it says that in index.d.ts of this project, parameters `renderer`, `renderingSettings` and `audioFactory` is required but in the types from `AnimationConfig`, those parameters are optional so I'm not sure why TS is complaining.
[code]

To reproduce the error, you can try initialising the player in tsx where lottie-web is v5.9.2
[code]

[2022-04-12 01:48] altruong commented on #70
Was it removed? I still see it in index.d.ts file in the latest version of [lottie-web github repo](https://github.com/airbnb/lottie-web/blob/master/index.d.ts).

For reference:
[lottie-web v5.9.4](https://github.com/airbnb/lottie-web/blob/master/index.d.ts)
[lottie-web v5.9.3](https://github.com/airbnb/lottie-web/blob/f7e567e00422ddb0f661ea9586a54df68e4c10d5/index.d.ts)

The only change I see is

[2022-04-13 18:27] monsonjeremy commented on #70
@altruong This package depends on `"lottie-web": "^5.7.6"` which means these are the `index.d.ts` contents: https://github.com/airbnb/lottie-web/blob/v5.7.6/index.d.ts#L79-L88

[2022-04-23 18:04] anubra266 opened #75 "Play on hover"
I can't find a prop to play my animation on hover.

[2022-04-24 19:44] mifi commented on #75
react-lotie-player doesnt implement that feature. you need to implement yourself

[2022-04-24 21:06] anubra266 commented on #75
Thanks @mifi could you point me to some guide on how to do that.

[2022-04-25 19:00] mifi commented on #75
I think something like this:
[code]

[2022-04-29 07:45] #75 closed

[2022-05-04 12:30] tomasnyvlt commented on #69
Hi, any updated on this? Thanks

[2022-05-04 23:16] #69 closed

[2022-05-05 22:11] jordanlambrecht commented on #57
Yup! That worked. Thank you.

[2022-05-05 22:11] #57 closed

[2022-05-06 18:11] jordanlambrecht opened #78 "Lazy loading example throws typescript error"
Small thing, but typescript will throw an error on the following line:

`const [animationData, setAnimationData] = useState();`

simple solution is to add a null to the initial useState:

`const [animationData, setAnimationData] = useState(null);`

[2022-05-09 18:15] mifi commented on #78
why does animationdata need to be null? undefined is an accepted value too

[2022-05-09 18:49] jordanlambrecht commented on #78
That would work too. Typescript just needs an initial value to not get angry

[2022-05-09 19:04] mifi commented on #78
if the typescript definition problem lies in react-lottie-player, then I'm happy to accept a PR to fix the definitions

[2022-05-09 21:22] jordanlambrecht commented on #78
No need for a PR even. Just the example listed in the README needs 'undefined' or 'null' added to the useState.

[2022-05-09 23:26] mifi commented on #78
ah, but what I meant is that undefined should also be acceptable, so I don't think we should force users to use `null`. Probably the error you're getting is due to something wrong with our type script definitions file and should be solved there instead: https://github.com/mifi/react-lottie-player/blob/master/src/index.d.ts
although i'm not an expert in TS

[2022-06-30 22:38] pTinosq commented on #60
This is very much needed. Gutted to find out that it isn't featured so late into my project 😭

[2022-07-07 14:55] jezmck commented on #54
@Muhammad-Ashik any luck with that?

[2022-07-22 11:50] fsdiogo opened #81 "Enable support for the assetsPath option"
Hey 👋

It would be handy to add support for the [assetsPath](https://github.com/airbnb/lottie-web/wiki/loadAnimation-options#assetspath) option so it's possible to [change the base path](https://github.com/airbnb/lottie-web/issues/284#issuecomment-376355553) of external assets.

Thanks!

[2022-08-05 16:00] saurabhmehta1601 commented on #78
I guess since there are no `typedefinitions` available for the `react-lottie-player` package . It is better to assign the type for `animationData` as any . As shown below

[code]

[2022-08-05 16:13] saurabhmehta1601 commented on #78
Can you please post a screenshot of warning .
I suppose typescript should show warning as long as you don't use `any` .  Since neither `undefined` and `Module` have compatible types not `null` and `Module`

[2022-08-12 05:51] deshario9 commented on #54
@Muhammad-Ashik Can you provide the name of library?

[2022-08-12 05:57] deshario9 commented on #56
I'm implementing around 25 animations through index, but it seems lagging sometimes

Any proper way to handle huge amount of animations?

Note: All animations was fetched from rest api and stored in redux store

[2022-08-12 06:49] Muhammad-Ashik commented on #54
https://github.com/arthurdenner/remotion-lottie-test/blob/main/src/RemotionLottie.tsx

[2022-08-12 10:32] mifi commented on #56
@deshario9 are you loading the 25 animations simultaneously (all at once) or in sequence (one by one, unloading the previous one when it's done), care to share some codesandbox?

[2022-08-14 06:44] deshario9 commented on #56
@mifi yeah, I'm loading all of it simultaneously (for now)

Sandbox: https://codesandbox.io/s/lottie-animations-7mqpnx?file=/src/App.js

[2022-09-28 10:08] Rajdeepc opened #82 "multiple markers causing blinking of first markers when trying to run others"
I have a lottie.json which have below markers

[code]

And I am trying to load the marker like this
[code]

This causes a 2 seconds blink of "remove_background" animation and then renders "loop_preloader_gradient"

[2022-09-29 10:57] mifi commented on #82
Hi. Could you make a codesandbox or similar that shows the issue?
Does the same issue happen with lottie-web or does it work with that?

[2022-09-29 11:08] Rajdeepc commented on #82
I havent tried with lottie-web. May be I can try with that first.

[2022-09-30 07:47] Rajdeepc commented on #82
Checked with lottie-web. Same issue.

[2022-09-30 16:33] mifi commented on #82
Then I would file an issue at lottie-web instead, because react-lottie-player is merely a wrapper around lottie-web

[2022-10-19 16:56] ndimatteo commented on #1
Hey there @mifi, love what you've done! Any update on a solution for this?

I have a related need (and I'm sure many others do too), where Safari has significant performance issues, and the solution that @bodymovin [repeatedly suggests](https://github.com/airbnb/lottie-web/issues?q=is%3Aissue+is%3Aopen+setSubframe+) is to call: `anim.setSubframe(false)`

It seems we're unable to do that using the

[2022-10-19 18:54] #1 closed

[2022-10-19 18:55] mifi commented on #1
Ok I have now implemented a `useSubframe` prop and allowing passing a `ref`. see readme for how to use

[2022-10-19 19:27] ndimatteo commented on #1
Amazing! Thanks for the update @mifi 🤘